<%- partial('sidebar') %>

<div id='content'>
	<div class='panel'>
		<div class='header'>
			<ul class='breadcrumb'>
				<li><a href='/'>主页</a><span class='divider'>/</span></li>
				<li class='active'>关于</li>
			</ul>
		</div>
		<div class='inner'>
			<div class='topic_content'>
<h3>关于信大多火社区</h3>

<p>信大多火社区是由南京信息工程大学多火社团组织发起、搭建和维护的在线校园社区，致力于为学校师生提供更好的在线服务。</p>

<p>如有任何问题，请联系管理员 <a href="/user/phoenixlzx">@phoenixlzx</a> 和 <a href="/user/blueed">@blueed</a>。</p>

<hr />

<h3>关于南京信息工程大学</h3>

<p>南京信息工程大学起源于1923年竺可桢在国立东南大学创办的气象系，1960年独立建院时称“南京大学气象学院”，后改名为“南京气象学院”；1978年被确定为全国重点高校，2000年学校由原隶属中国气象局管理划转为江苏省管理. 2004年5月经江苏省政府、教育部批准更名为南京信息工程大学。学校于1978年被批准招收硕士研究生，1993年获得博士学位授予权，1995年被批准招收港澳台和外国留学生。经联合国世界气象组织批准，1993年在学校正式成立“世界气象组织区域气象培训中心”，承担世界各国中高级气象科技人员的培训任务。1999年3月，设立大气科学博士后流动站。2000年2月，学校由原隶属中国气象局管理划转为江苏省管理。</p>

<p>学校现有全日制在校生近20000人，教职员工1300多人，教授、副教授263人，双聘院士1人。现有大气科学学院、应用气象学院等16个院（部）以及45个科研机构和1个国际教育培训中心。学校以本科教育为主，建立了从博士后、博士研究生、硕士研究生到本科生培养完整的教育体系。现有国家级重点学科1个、国家级重点学科培育建设点1个，省部级重点学科5个、江苏省品牌建设专业1个、江苏省特色建设专业2个，设有14个博士点、24个硕士点、47个普通本科专业，覆盖理、工、管、文、经、法、农七大门类。大气科学专业的学术水平位居全国前列，在国际上具有一定影响。现有江苏省气象灾害重点实验室（国家重点实验室培育建设点）、南京中美合作遥感实验室、气象台、信息安全实验室、信号与信息处理实验室、地理空间信息系统实验中心等基础和专业实验室42个。有省级产学研基地1个，校内外挂牌教学实践基地115个。图书馆馆藏纸质文献135万册，是国内图书馆中大气科学类文献最齐全的图书馆之一。 学校现占地2189亩，各类校舍总建筑面积60万平方米。</p>

<p>校训：明德格物 立己达人
<br />
校址：江苏省南京市浦口区宁六路219号 | 邮编：210044</p>

<hr />

<h3>关于多火社区</h3>

<p>我们是一群爱好技术和自由的 Geek，加入我们，一起玩吧！</p>

<p>社团办公室：大学生活动中心201室
<br />
邮箱：duohuo201@gmail.com</p>
			</div>
		</div>
	</div>	
</div>
